#loanBtn{
    background-color: rgb(12, 231, 12);
    height: 40px;
    width: 100px;
    border-radius: 8px;
    border-color: rgb(12, 231, 12);
}

#Work{
    margin-left: 250px;
    margin-top: -143px;
}

#Laptops{
    margin-top: -130px;
    margin-left: 500px;
}

#Laptop{
    margin-top: 50px;
}

#laptopName{
    margin-left: 350px;
    margin-top: -300px;
}

#description{
    margin-left: 350px;
    margin-top: 30px;
    display: block;
    word-wrap: break-word;
    width: 200px;
}

#price{
    margin-left: 700px;
    margin-top: -50px;
    display: block;
    font-size: xx-large;
}

#buyBtn{
    margin-left: 655px;
    border-radius: 8px;
    height: 40px;
    width: 200px;
    background-color:rgb(7, 115, 216) ;
}

#featureLbl{
    font-size: larger;
    font-weight: bold;
}

#bankBtn{
    margin-top: 25px;
    background-color: yellow;
    border-radius: 8px;
}

#repayBtn{
    display: none;
    background-color: aquamarine;
    border-radius: 8px;
}

#workBtn{
    background-color: rgb(8, 163, 235);
    border-radius: 8px;
}
